#TituloPrincipal{
    border: solid #756862 4px;
    background-color: #98857f;
    text-align: center;
}




#CuerpoPagina{
    background: #142e3a;
    font-family: 'Gugi', cursive;
}





#Boton{
    color: white;
    font-size: 50px;
    text-decoration: none;
}


#columnas{
    column-count: 2;
    column-gap:10px;
    align-items: center;

}




#Logo{
    display: flex;
    position: relative;
    top: 470px;
    left: 1390px;
    width: 130px;
    height: 130px;
    max-width: 100%;
}


#mapa{
    border-radius: 20px;
    width: 1518px;
    height: 530px;
    border: solid #756862 4px;
    text-align: center;
}

#PalabraMapa{
    background-color: #98926c;
    border-radius: 25px;
    padding: 7px;
}

#mapas a{
    color: black;
}
#PalabraMapa a:hover{
    color: black;
}


#PalabraJuego{
    background-color: #98926c;
    border-radius: 25px;
    padding: 7px;
}

#posicioncanvas{
    height: 100%;
    width: 100%;
}


#Canvas{
    height: 370px;
    width: 370px;
    position: relative;
    border-radius: 200px;
    left: 37%;
    background-image: url("Images/imagenprincipal.png");
}

#FondoImagen{
    opacity: 0.3;
}
#Imagen{
    display: block;
    margin: 0 auto;

}


#Barrios{
    border-radius: 25px;
    background-color: #98926c;
    width: 10px;
    padding: 59px;
    text-align: center;
    word-wrap: break-word;
    margin: 30px;
}



#NuevaCordoba{
    text-align: center;
    border-radius: 20px;
    background-color: #98926c;
    width: 950px;
    height: 40px;
    padding: 30px;
    transform: translate(-500px);
}

#NuevaCordoba{
    margin-top: 102px;
}

#NuevaCordoba a{
    color: black;
}
#NuevaCordoba a:hover{
    color: black;
}





#Guemes{
    border-radius: 20px;
    background-color: #98926c;
    text-align: center;
    width: 950px;
    height: 40px;
    transform: translate(-500px);
    padding: 30px;
}
#Guemes a{
    color: black;
}
#Guemes a:hover{
    color: black;
}




#ChateauCarreras{
    border-radius: 20px;
    background-color: #98926c;
    text-align: center;
    width: 950px;
    padding: 30px;
    height: 40px;
    transform: translate(-500px);
}
#ChateauCarreras a{
    color: black;
}
#ChateauCarreras a:hover{
    color: black;
}




#Bares{
    border-radius: 50px;
    font-size: large;
    background-color: #98926c;
    padding: 10px;
    text-align: center;
}
#Bares a{
    color: black;
}
#Bares a:hover{
    color: black;
}





#Boliches{
    font-size: large;
    transform: translateY(40px);
    top: 50px;
    bottom: 50px;
    border-radius: 50px;
    background-color: #98926c;
    padding: 10px;
    text-align: center;
}
#Boliches a{
    color: black;
}
#Boliches a:hover{
    color: black;
}





#Restaurantes{
    font-size: large;
    transform: translateY(20px);
    border-radius: 50px;
    background-color: #98926c;
    padding: 10px;
    text-align: center;
}
#Restaurantes a{
    color: black;
}
#Restaurantes a:hover{
    color: black;
}