#ImgnvaR-1{
    border-radius: 15px;
    background-color: #98926c;
    text-align: center;
    line-height: 75%;
    margin-top: 75px;
    padding: 3px;
}
#imgantares{
     max-width: 100px;
 }
#imgvidon{
    max-width: 100px;
}
#imgcasanegra{
    max-width: 100px;
}
#imgmcdonald{
    max-width: 100px;
}
#imgburguer{
    max-width: 100px;
}
#imgmilanesa{
    max-width: 100px;
}
#imgmerlot{
    max-width: 100px;
}
#imgsur{
    max-width: 100px;
}
#imgmalbec{
    max-width: 100px;
}
