#ImgnvaR-1{
    border-radius: 15px;
    background-color: #98926c;
    text-align: center;
    line-height: 75%;
    margin-top: 75px;
    padding: 3px;
}
#imgantares{
     max-width: 100px;
 }
#imgvidon{
    max-width: 100px;
}
#imgcasanegra{
    max-width: 100px;
}
#imgmcdonald{
    max-width: 100px;
}
#imgburguer{
    max-width: 100px;
}
#imgmilanesa{
    max-width: 100px;
}
#imgmerlot{
    max-width: 100px;
}
#imgsur{
    max-width: 100px;
}
#imgmalbec{
    max-width: 100px;
}
#imgstoway{
    max-width: 100px;
}
#imgbottom{
    max-width: 100px;
}
#img414{
    max-width: 100px;
}
#img69{
    max-width: 100px;
}
#imgtokin{
    max-width: 100px;
}
#imgpanplano{
    max-width: 100px;
}
#imgbarto{
    max-width: 100px;
}
#imgvlack{
    max-width: 100px;
}
#imgleparc{
    max-width: 100px;
}
#imgrosario{
    max-width: 100px;
}
#imgparis{
    max-width: 100px;
}
#imgcruz{
    max-width: 100px;
}
#imgfraterno{
    max-width: 100px;
}
#imgmandinga{
    max-width: 100px;
}
#imgforest{
    max-width: 100px;
}
#imgmandinga{
    max-width: 100px;
}

#imgochre{
    max-width: 100px;
}

